<!-- Displays both uploaded images -->
<!-- Takes two variables: whole_filename, part_filename -->

<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Image</title>
</head>
<body>
    <div style="text-align:center;">
        <h1> Comparison Result </h1>
    </div>
    <div style="text-align:center;">
        <img src="{{ url_for('static', filename=part_filename) }}">
    </div>
    <div style="text-align:center;">
        <img src="{{ url_for('static', filename=whole_filename) }}">
    </div>
</body>
</html>