<!-- Initally displayed file -->
<!-- Gives two variables: part, whole -->
<!-- calls /upload when "Upload" is pressed -->

<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <!-- Partial Image, Whole Image, Upload button-->
        <input type="file" name="part">
        <input type="file" name="whole">
        <input type="submit" value="Generate">
    </form>
</body>

<style>
    #container {
    margin: 30px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
    }
    #videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
    }
</style>

<body>
<div id="container">
	<video autoplay="true" id="videoElement">
	
	</video>
</div>
<script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
          video.srcObject = stream;
        })
        .catch(function (err0r) {
          console.log("Something went wrong!");
        });
    }
</script>
</body>




</html>